@import "tailwindcss";

:root {
  --primary: #fcad33;
  --secondary: #fff5e1;
  --heading: #595959;
  --text: #5c5c5c;
  --sub-text: #9f9f9f;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-heading: var(--heading);
  --color-text: var(--text);
  --color-sub-text: var(--sub-text);
}
