@import "tailwindcss";

:root {
  --primary: #fcad33;
  --primary_light: #ffeacb;
  --secondary: #fff5e1;
  --heading: #595959;
  --para: #5c5c5c;
  --sub_text: #9f9f9f;
  --header_bg: #282525;
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary_light: var(--primary_light);
  --color-secondary: var(--secondary);
  --color-heading: var(--heading);
  --color-para: var(--para);
  --color-sub_text: var(--sub_text);
  --color-header-bg: var(--header_bg);
}
